# Python Bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
env/
venv/
libreoffice-venv/

# IDEs / Editor Settings
.vscode/
.idea/

# API-Keys und Umgebungsvariablen
.env

# Sonstiges
*.log
*.py~
venv/
